DATABASE_URL="postgresql://boxin1:123456@boxin1-db:5432/boxin1admin?schema=public"
 
BETTER_AUTH_SECRET="fdebc55628360ba0441d34db49f1502faefa8559"
BETTER_AUTH_URL="http://localhost:3000" 

RESEND_KEY=re_VMSmnMWP_FnreyT3USD6f45rrXxXfxT4X